/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: white;
}

html, body {margin: 0; height: 100%; overflow: hidden}

a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}

@font-face {
    font-family: 'Bemio';
    src: url('fonts/Bemio.otf');
}

html, body {
    height: 100%; /* Ensures full page height */
    display: flex;
    flex-direction: column;
}

body {
    font-family: 'Bemio';
    color: white;
    background: url('media/house.jpg');
    background-repeat: repeat;
    flex: 1; /* Makes the body take up the remaining space */
}

header {
    text-align: center;
    padding: 50px 20px;
}

header h1 {
    text-transform: uppercase;
    padding-top: 100px;
    letter-spacing: 3px;
    font-size: 5rem;
}

@media (max-width: 750px) {
    header h1 {
        font-size: 2rem; /* Further reduce font size on very small screens */
    }
}

header h1 a {
    transition: all 0.2s ease;
}

header h1 a:hover {
    color: red;
}

nav {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-top: 10vh;
}

nav a {
    text-decoration: none;
    font-size: 2em;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.2s ease;
}

nav a:hover {
    color: red;
}

@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: center;
    }
}

.custom-icon {
    fill: white; /* Set the desired color (e.g., blue) */
    transition: all 0.2s ease;
}
footer {
    margin-top: auto; /* Pushes the footer to the bottom */
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
}

footer p {
    margin-bottom: 10px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-icons a {
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
    transition: all 0.2s ease;
}

.custom-icon:hover {
    color: red;
    fill: red;
}

.social-icons a:hover {
    color: red;
    fill: red;
    transform: scale(1.2);
}