/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: white;
}

html, body {margin: 0; height: 100%; overflow: hidden}

a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}

@font-face {
    font-family: 'Bemio';
    src: url('fonts/Bemio.otf');
}

@font-face {
    font-family: 'Technology';
    src: url('fonts/Technology.ttf');
}

.shuffle{
    font-kerning: none;
    font-feature-settings: "liga" 0;
}

html, body {
    height: 100%; /* Ensures full page height */
    display: flex;
    flex-direction: column;
}

body {
    font-family: 'Technology';
    text-transform: uppercase;
    color: white;
    background-repeat: repeat;
    flex: 1; /* Makes the body take up the remaining space */
}

video#bgVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    width: auto;
    min-width: 100%;
    height: auto;
    min-height: 100%;
    z-index: -100;
    background-size: cover;
}

header {
    text-align: center;
    padding: 50px 20px;
    padding-top: 100px;
    letter-spacing: 3px;
    font-size: 7rem;
}


@media (max-width: 768px) {
    header {
        font-size: 5rem; /* Further reduce font size on very small screens */
    }
}

.header_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header div a {
    display: inline-block;
    cursor: pointer;
}


.nav_container {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-top: 10vh;
}

a:hover {
    color: red;
}

.nav_container a {
    font-size: 3em;
}


@media (max-width: 768px) {
    .nav_container {
        flex-direction: column;
        align-items: center;
    }
}

.custom-icon {
    fill: white; /* Set the desired color (e.g., blue) */
    transition: all 0.2s ease;
}
footer {
    margin-top: auto; /* Pushes the footer to the bottom */
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
}

footer p {
    margin-bottom: 10px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-icons a {
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
    transition: all 0.2s ease;
}

.custom-icon:hover {
    color: red;
    fill: red;
}

.social-icons a:hover {
    color: red;
    fill: red;
    transform: scale(1.2);
}